<settings>
    <profiles>
        <profile>
            <id>sentinel</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo.maven.apache.org/maven2</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>sentinel</activeProfile>
    </activeProfiles>
</settings>